* {
  box-sizing: border-box;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: rgb(220, 216, 216);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
h2 {
  font-size: 24px;
  margin-bottom: 16px;
}

p:before {
  content: attr(type);
  display: block;
}

p {
  font-size: 16px;
  margin-bottom: 12px;
}
input {
  font-size: 18px;
  border: none;
  border-bottom: 2px solid #0825a8;
  margin-top: 2px;
  color: blue;
}
input:focus {
  outline: none;
  border-bottom: 3px solid #ff5733;
}

button {
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  display: block;
  margin: 20px auto 0;
}
.formulario {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
h2,
header {
  text-align: center;
  font: bold;
  color: #2b06e5;
  border-bottom: 2px solid #0825a8;
}
